body {
    padding-top: 20px;
    background-color: white;
}

.navbar {
    padding-top: 20px;
}

.container {
    height: 100%;
}

.span12, .container, .well-large {
    width: 940px;
}

.well-large {
    background-color:#f5f5f5;
}

.shopping_cart {
    text-align: right;
    font-size: 13px;
}

.product_list {
    margin-top: -5px;
    margin-left: 5px;
    min-height: 500px;
}

.product_list > ul > li + li {
    border-top: 1px solid #EEEEEE;
}

.product_list > ul > li {
    padding: 8px 8px 8px 0px;
}

.product_list ul {
    list-style: none;
}

.product_list > ul > li a.active {
    font-weight: bold;
}

.thumb {
    height:50px;
    width:50px;
    text-align:center;
    vertical-align: middle;
}

.feedback_form {
    width: 400px;
}

.feedback_form > fieldset > input {
    width: 100%;
}

.feedback_form > fieldset > textarea {
    width: 100%;
}


