{% extends "base.html" %}

{% block title %}
    Shop Test - Error 404
{% endblock %}

{% block content %}
<div class="span12">
<ul class="breadcrumb">
    <li>
        <a href="{% url 'index' %}">Home</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Error
    </li>
</ul>
<div class="row">
    <div class="span12" style="text-align: center; vertical-align: middle;">
        <h4 style="color:red">{{ errorMessage }}</h4>
    </div>
</div>
</div>
{% endblock %}