<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}Shop Test{% endblock %}</title>
    {% load static %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extrahead %}
    {% endblock %}
</head>
<body>
<div class="container">
    {% include "header.html" %}
    {% include "main_menu.html" %}
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    {% include "footer.html" %}
</div>
</body>
</html>