{% extends "base.html" %}

{% block title %}
    Shop Test - Shopping Cart
{% endblock %}

{% block content %}
      <div class="span12">
            <h3>Shopping cart</h3>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Remove</th>
                    <th style="text-align: center; vertical-align: middle;">Photo</th>
                    <th style="text-align: center; vertical-align: middle;">Article</th>
                    <th style="text-align: center; vertical-align: middle;">Product name</th>
                    <th style="text-align: center; vertical-align: middle;">Quantity</th>
                    <th style="text-align: center; vertical-align: middle;">Unit price</th>
                    <th style="text-align: center; vertical-align: middle;">Total</th>
                </tr>
                </thead>
                <tbody>

                {% for sc in scList %}
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <a class="btn btn-primary btn-small delFromCart" href="{% url 'del_from_cart' sc.id %}" pid="{{ sc.id }}">
                            <i class="icon-trash icon-white"></i>
                        </a>
                    </td>
                    <td>
                        <div class="thumb"><img src="{{ MEDIA_URL }}{{ sc.photo }}"></div>
                    </td>
                    <td>
                        {{ sc.article }}
                    </td>
                    <td>
                        {{ sc.name }}
                    </td>
                    <td>
                        <form action="{% url 'update_cart' %}" name="{{ sc.article }}" method="post">
                            {% csrf_token %}
                            <div class="input-append">
                                <input type="text" placeholder="1" class="input-mini" value="{{ sc.quantity }}" name="scid-{{ sc.id }}">
                                <button class="btn" type="submit"><i class="icon-refresh"></i></button>
                            </div>
                        </form>
                    </td>
                    <td width="70" style="text-align: right">
                        $ {{ sc.price|floatformat:2 }}
                    </td>
                    <td width="70" style="text-align: right">
                        $ {{ sc.total|floatformat:2 }}
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right"><strong>$ {{ total|floatformat:2 }}</strong></td>
                </tr>
                </tbody>
            </table>
            <form class="form-horizontal" method="post" action="">
                <fieldset>
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <strong>Apply discount code</strong>
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body in">
                                <div class="accordion-inner">
                                    <div class="control-group">
                                        <label for="input01" class="control-label">Discount code: </label>
                                        <div class="controls">
                                            <input type="text" id="input01" class="input-xlarge" placeholder="Enter your coupon here">
                                            <p class="help-block">You can only use one discount code at a time.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    <strong>Use gift voucher</strong>
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class="control-group">
                                        <label for="input02" class="control-label">Gift voucher: </label>
                                        <div class="controls">
                                            <input type="text" id="input02" class="input-xlarge" placeholder="Enter your gift voucher here">
                                            <p class="help-block">You can use multiple gift vouchers at a time.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <!-- <button class="btn btn-primary pull-left" type="submit"><strong>Update</strong></button> -->
                         </div>
                        <div class="span4" style="text-align: center">
                            <a class="btn btn-primary continueShopping" href="{% url 'index' %}"><strong>Continue shopping</strong></a>
                        </div>
                        <div class="span4">
                            <a class="btn btn-primary pull-right Checkout" href="{% url 'view_checkout' %}"><strong>Checkout</strong></a>
                            <!-- <button class="btn btn-primary pull-right" type="submit"><strong>Checkout</strong></button> -->
                         </div>
                    </div>
                </fieldset>
            </form>
      </div>
{% endblock %}