{% extends "base.html" %}

{% block extrahead %}
    {% load static %}
    <!-- FancyBox -->
    <script type="text/javascript" src="{% static 'js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/fancybox/source/jquery.fancybox.css?v=2.1.5' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static 'js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5' %}"></script>
    <link rel="stylesheet" href="{% static 'js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static 'js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5' %}"></script>
    <script type="text/javascript" src="{% static 'js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6' %}"></script>
    <link rel="stylesheet" href="{% static 'js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static 'js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>
    <!-- FancyBox -->
{% endblock %}

{% block title %}
    {% if categoryName %}
        Shop Test - {{ categoryName }}
    {% else %}
        Shop Test - Catalog
    {% endif %}
{% endblock %}

{% block content %}
        <div class="span3">
            <ul class="breadcrumb">
                <li>Categories</li>
            </ul>
            <div class="span3 product_list">
                <ul class="nav">
                    {% for c in categoryList %}
                        {% if  categoryName == c.name %}
                            <li><a class="categoryName active" cid="{{ c.id }}" cname="{{ c.name }}" href="{% url 'view_category' c.slug %}">{{ c.name }}</a></li>
                        {% else %}
                            <li><a class="categoryName" cid="{{ c.id }}" cname="{{ c.name }}" href="{% url 'view_category' c.slug %}">{{ c.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span9">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                    <span class="divider">/</span>
                </li>
                <li class="active">
                    {{ categoryName }}
                </li>
            </ul>

            {% for p in productList %}
            <div class="row">
                <div class="span1">
                    <a class="fancybox" href="{{ MEDIA_URL }}{{ p.photo }}" title="{{ p.name }}"><img src="{{ MEDIA_URL }}{{ p.photo }}"></a>
                </div>
                <div class="span6">
                    <a href="#">
                        <h5>{{ p.name }}</h5>
                    </a>
                    <p>{{ p.desc }}</p>
                </div>
                <div class="span1">
                    <p><strong>$ {{ p.price|floatformat:2 }} </strong></p>
                </div>
                <div class="span2">
                    <p>
                        <a class="btn btn-primary addToCart" href="{% url 'add_to_cart' p.id %}" pid="{{ p.id }}" particle="{{ p.article }}" pprice="{{ p.price }}" pname="{{ p.name }}">
                            <i class="icon-shopping-cart icon-white"></i><strong> Add to cart</strong>
                        </a>
                    </p>
                    <p>
                        <a href="#">Add to Wish List</a>
                    </p>
                    <p>
                        <a href="#">Add to Compare</a>
                    </p>
                </div>
            </div>
            <hr>
            {% endfor %}

            <hr>

            <div class="pagination">
                <ul>
                    <li class="active">
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}