{% extends "base.html" %}

{% block title %}
    Shop Test - Checkout
{% endblock %}

{% block content %}
<div class="span12">
<ul class="breadcrumb">
    <li>
        <a href="{% url 'index' %}">Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'view_cart' %}">Shopping cart</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Checkout
    </li>
</ul>
<div class="row">
<div class="span12">
<div class="accordion" id="accordion2">
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <strong>Step 1: Checkout Options</strong>
        </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
            <div class="span6 pull-left">
                <strong>New Customer</strong>
                <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                <form>
                    <fieldset>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                            Register Account
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Guest Checkout
                        </label>
                        <br/><br/><br/>
                        <a class="btn btn-primary pull-left" href="#collapse2" data-toggle="collapse" data-parent="#collapse2">Continue</a>
                    </fieldset>
                </form>
            </div>
            <div class="span5 pull-right">
                <strong>Registered Customers</strong>
                <p>If you have an account with us, please log in.</p>
                <form>
                    <fieldset>
                        <div class="control-group">
                            <label for="username" class="control-label">Username</label>
                            <div class="controls">
                                <input type="text" placeholder="Enter your username" id="username" class="input-xlarge focused">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Password</label>
                            <div class="controls">
                                <input type="password" placeholder="Enter your password" id="password" class="input-xlarge">
                            </div>
                        </div>
                        <a class="btn btn-primary pull-left" href="#collapse2">Continue</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
            <strong>Step 2: Billing Details</strong>
        </a>
    </div>
    <div id="collapse2" class="accordion-body collapse">
        <div class="accordion-inner">
            <div class="span6 pull-left">
                <legend>Your Personal Details</legend>
                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email Address</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Telephone</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
            </div>
            <div class="span5 pull-right">
                <legend>Your Address</legend>
                <div class="control-group">
                    <label class="control-label">Address 1</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address 2</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">City</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">ZIP</label>

                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
            </div>
            <div class="span11 no_margin_left">
                <br/><a class="btn btn-primary pull-left" href="#collapse3">Continue</a><br/><br/><br/>
            </div>
        </div>

    </div>
</div>


<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
            <strong>Step 3: Delivery Details</strong>
        </a>
    </div>
    <div id="collapse3" class="accordion-body collapse">
        <div class="accordion-inner">
            <div class="span6 pull-left">
                <legend>Your Personal Details</legend>
                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email Address</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Telephone</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
            </div>
            <div class="span5">
                <legend>Your Address</legend>
                <div class="control-group">
                    <label class="control-label">Address 1</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address 2</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">City</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">ZIP</label>
                    <div class="controls docs-input-sizes">
                        <input type="text" placeholder="" class="span4">
                    </div>
                </div>
            </div>
            <div class="span11 pull-left">
                <br/><a class="btn btn-primary pull-left" href="#collapse3">Continue</a><br/><br/><br/>
            </div>
        </div>
    </div>
</div>


<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
            <strong>Step 4: Payment Method</strong>
        </a>
    </div>
    <div id="collapse4" class="accordion-body collapse">
        <div class="accordion-inner">
            <label class="radio">
                <input type="radio" value="option1" name="payment1">
                Collect in store
            </label>
            <label class="radio">
                <input type="radio" value="option2" name="payment1">
                Paypal
            </label>
            <label class="radio">
                <input type="radio" value="option2" name="payment1">
                Google checkout
            </label>
            </br>
            <div class="control-group">
                <label for="textarea" class="control-label">Comments</label>
                <div class="controls">
                    <textarea rows="3" id="textarea" class="input-xlarge span11"></textarea>
                </div>
            </div>
            <a class="btn btn-primary pull-left" href="#collapse3">Confirm order</a>
            <br/><br/><br/>
        </div>
    </div>
</div>


</div>

</div>
</div>
</div>
{% endblock %}