{% extends "base.html" %}

{% block title %}
    Shop Test - Delivery
{% endblock %}

{% block content %}
    <div class="span12">
          <h3>Delivery</h3>
          <p>
              Orders received before 2 p.m. Eastern Standard Time Monday through Friday will be shipped on the same day.
              Orders received after 2 p.m. EST may not ship until the following day.
              Orders placed over the weekend after 2 p.m. EST on Saturday may not ship until Monday.
              Saturday and Sunday are not considered shipping days for the purposes of days in transit.
              For example, a Second Day shipment placed on Thursday may not arrive until Monday: Thursday -> Friday-> Saturday -> Sunday -> Monday.
              The day when the order has been placed is not considered as a shipping day.
              We reserve the right to choose the shipping method and shipping courier (UPS or USPS) based on the order and confirmed delivery time by courier to your desired location.
              In order to request specific delivery courier you must contact us.
              If the order/package arrived on time, no shipping fees differences will be granted.
              Post Office Box addresses can only receive mail from the United States Postal Service (USPS) and not from UPS.
              The fastest delivery method available for PO Box is USPS Express Mail and will be charged at the Second Day Shipping rate.
              USPS Express Mail is not guaranteed for overnight delivery in all areas.
          </p>
          </br>

          <h5>Deliveries to certain areas</h5>
          <p>
              Deliveries to rural areas may incur additional days in transit.
              Please call to confirm delivery time when placing orders for rural locations.
              Delivery times cannot be guaranteed for shipments to Alaska and Hawaii.
              Packages to U.S. territories such as American Samoa, Federated States of Micronesia, Guam, Marshall Islands, Northern Mariana Islands, Palau, Puerto Rico and U.S. Virgin Islands will be shipped only by USPS.
              APO/AE addresses can only receive mail from the United States Postal Service.
              Delivery times cannot be guaranteed (usually takes up to 5 business days).
              No Express/Overnight shipping to APO/AE.
          </p>
          </br>

          <h5>Shipping during Holidays</h5>
          <p>
              USPS and UPS recognize several Federal Holidays and shipments processed or in transit during Holidays may incur a delay.
              Please call to confirm delivery time when placing orders before or during Holidays. No shipping refunds (full or partial) will be granted if delivery was delayed due to observance of Holidays.
          </p>
          </br>

          <h5>Acts of God</h5>
          <p>
              Deliveries delayed due to Acts of God, weather conditions, environmental or dangerous goods incidents, perils of the air, public enemies, public authorities acting with actual or apparent authority, application of security regulations imposed by a government or otherwise applicable to the shipment, acts or omissions of customs officials, authority of law, quarantine, riots, strikes, work stoppages or slowdowns, or other labor disputes or disturbances, civil commotions or hazards incident to a state of war, local or national disruptions in ground or air transportation networks or systems due to events beyond UPS’s control, disruption or failure of communication and information systems, disruption or failure of utilities, or any circumstances beyond shipper’s control will not be granted any shipping (full or partial) refunds.
          </p>
          </br>

          <h5>Signature Requirement</h5>
          <p>
              All orders over $95 dollars will require a signature confirmation upon delivery.
              Also, it is required by credit card companies that there is a proof of delivery in the means of a customer's signature - as an assurance of the proper card use for on-line purchases.
              Any requests to waive the signature requirement will absolve the shipper of delivery liability and missing or stolen shipments that are confirmed as delivered by USPS or UPS will not be refunded or replaced.
              All orders with an incorrect billing address provided (indicated by an error in the system) will require a signature confirmation upon delivery.
              Customer will be notified before the shipping.
          </p>
          </br>

          <h5>Additional</h5>
          <p>
              Shipping companies charge a fee for rerouted packages.
              We reserve the right to charge a flat $17 fee for shipments that we must re-route due to customer error.
              Shipping companies charge a fee for address correction.
              We reserve the right to charge a flat $17 fee for address correction due to customer error.
          </p>
          </br>

          <h5>Return Policy</h5>
          <p>
              Our return policy is that all sales are final.
              Despite this, at our sole discretion we often allow our customers to make returns or exchanges as long as the situation is reasonable.
              In such instances shipping charges are non refundable.
              Returns and exchanges are limited to orders placed within the previous one month and require that the products not be open and all seals remain intact as sealed products can be resold and unsealed products cannot.
              Shipping companies charge a fee for a refused package or packages.
              We reserve the right to charge a flat $10 fee for returned shipments, e.g. a refused package, insufficient shipping address, company or receiver name not recognized, third delivery attempt, package was not picked up as arranged.
          </p>
          </br>

          <h5>Satisfaction Guarantee</h5>
          <p>
              Nearly all of our products come with a manufacturers satisfaction guarantee.
              In the event that you are dissatisfied with the performance of your purchase, you must contact the manufacturer directly to redeem their rebate.
              Refunds are based on MSRP.
              Manufacturers typically require a receipt, UPC proof of purchase, and proof of test results.
              We can provide you with the manufacturer’s information and another copy of your receipt if necessary, but we cannot provide you with an extra UPC proof of purchase (Bar Code from the original product box or bottle) and proof of dissatisfaction.
              All information must be send to the manufacturer via certified mail or with delivery confirmation.
              Make sure to keep your packaging until after you receive your test results.
          </p>
          </br>
      </div>
{% endblock %}