{% extends "base.html" %}

{% block title %}
    Shop Test - Feedback
{% endblock %}

{% block content %}
      <div class="span12">
          <h3>Feedback form</h3>
          {% if success %}
              <br>
              <div class="alert alert-success"> Your message has been sent successfully.</div>
              <br>
          {% endif %}
          <form class="feedback_form" action="{% url 'feedback_save' %}" method="post" enctype="multipart/form-data">
              <fieldset>
                  {% csrf_token %}
                  {{ form }}
                  <br>
                  <br>
                  <button class="btn btn-primary" type="submit"><i class="icon-envelope icon-white"></i><strong> Send message</strong></button>
              </fieldset>
          </form>
      </div>
{% endblock %}