{% load static %}
<div class="row">
    <div class="span4">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
    </div>
    <div class="span8 shopping_cart">
        <h5><i class="icon-shopping-cart"></i> Shopping cart</h5>
        <a id="sc_text" href="{% url 'view_cart' %}">{{ amount }} item(s) - $ {{ total|floatformat:2 }}</a>
    </div>
</div>