<div class="row">
    <div class="span12">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    {% if menuItem == 'catalog'  %}
                        <li class="active"><a href="{% url 'index' %}">Catalog</a></li>
                    {% else %}
                        <li><a href="{% url 'index' %}">Catalog</a></li>
                    {% endif %}
                    {% if menuItem == 'privacy-policy'  %}
                        <li class="active"><a href="{% url 'view_static_page' 'privacy-policy' %}">Privacy Policy</a></li>
                    {% else %}
                        <li><a href="{% url 'view_static_page' 'privacy-policy' %}">Privacy Policy</a></li>
                    {% endif %}
                    <li class="divider-vertical"></li>
                    {% if menuItem == 'delivery'  %}
                        <li class="active"><a href="{% url 'view_static_page' 'delivery' %}">Delivery</a></li>
                    {% else %}
                        <li><a href="{% url 'view_static_page' 'delivery' %}">Delivery</a></li>
                    {% endif %}
                    <li class="divider-vertical"></li>
                    {% if menuItem == 'terms-and-conditions'  %}
                        <li class="active"><a href="{% url 'view_static_page' 'terms-and-conditions' %}">Terms & Conditions</a></li>
                    {% else %}
                        <li><a href="{% url 'view_static_page' 'terms-and-conditions' %}">Terms & Conditions</a></li>
                    {% endif %}
                    <li class="divider-vertical"></li>
                    {% if menuItem == 'feedback'  %}
                        <li class="active"><a href="{% url 'feedback' %}">Feedback</a></li>
                    {% else %}
                        <li><a href="{% url 'feedback' %}">Feedback</a></li>
                    {% endif %}
                    <li class="divider-vertical"></li>
                </ul>
                <form class="navbar-form pull-right" action="">
                    <input type="text" class="search-query span2" placeholder="Search">
                    <button class="btn btn-primary btn-small search_btn" type="SUBMIT"><i
                            class="icon-search icon-white"></i> <strong>Go</strong></button>
                </form>
            </div>
        </div>
    </div>
</div>