{% extends "base.html" %}

{% block title %}
    Shop Test - Privacy policy
{% endblock %}

{% block content %}
      <div class="span12">
          <h3>Privacy policy</h3>
          <p>
              Your privacy and identity security is very important to us.
              The information you provide Sunglasses Shop with will be used in the processing of your order and to contact you when necessary in connection to your order.
              We take every care to ensure the security and privacy of any information you have provided.
              When you place an order we use the highest level Secure Socket Layer (SSL) encryption so any information is fully encrypted before it is sent to us.
              This protects it from unauthorised use.
          </p>
          </br>

          <h5>Orders and Transactions</h5>
          <p>
              When you place an order with Sunglasses Shop we will ask for certain information to help us process your order.
              This includes your name, email address, shipping address, billing address and phone number.
              This information will be used for order processing and may also be used for security checks and fraud detection.
              Financial transactions online are made through Worldpay, Google Checkout or Paypal.
              These organisations will ask for your card information to make the payment or require the setting up of an account, which includes providing payment and address details.
              When you purchase any of our products or services, these organisations collect certain financial transaction information and in some cases Internet Provider addresses.
              We do not have any access to your card numbers or other financial information from these parties, except for that relating to the value of your order.
              As well as the delivery address we may also share your telephone number with the delivery service provider for improved customer service purposes.
          </p>
          </br>

          <h5>Information Disclosure and Marketing</h5>
          <p>
              Sunglasses Shop is part of Prescription Eyewear Ltd.
              If you have made a purchase from us we may update you with our latest products, news and special offers via e-mail and post.
              On occasion you may also receive communications from carefully selected third parties, partners or any other Prescription Eyewear Ltd brands.
              Of course, you have the option to opt-out of receiving marketing communications by selecting the relevant option at checkout or using the unsubscribe options in the communication.
              We also collect certain non personal data to provide analysis on our site traffic, sales and other commercial opportunities that we feel helps bring a better level of service to our customers.
              This may be passed on to third parties for collation purposes or used internally to improve our level of customer service.
          </p>
          </br>

          <h5>Information Disclosure in Other Circumstances</h5>
          <p>
              We will disclose any information that you provide if required to do so by law.
              We will also disclose any information in order to enforce our terms and conditions, which may include exchanging information with other companies and organisations for the purposes of fraud protection and detection.
              We may also share your personal information with any of our group of companies.
          </p>
          </br>

          <h5>Cookies</h5>
          <p>
              When you use our website temporary cookies are stored help you to make purchases.
              A cookie is a small amount of data that our servers temporarily transfer to your computer that helps Sunglasses Shop remember what you have looked so we can deliver services and products specific to your interests.
              To place an order, temporary cookies must be activated.
              You can alter the settings on your computer to disable these cookies, or have them stored with your consent.
          </p>
          </br>

          <h5>Third Parties</h5>
          <p>
              Sunglasses Shop Privacy Policy does not apply to any third party links, products or services provided through such links.
              Any information you provide by following a link will fall under the Privacy Policy of the third party.
          </p>
          </br>

          <h5>Changes to the Privacy Policy</h5>
          <p>
              We reserve the right to change this privacy policy without notice.
              By providing any information to Sunglasses Shop you accept our Privacy Policy.
          </p>
          </br>
      </div>
{% endblock %}