{% extends "base.html" %}

{% block title %}
    Shop Test - Terms & Conditions
{% endblock %}

{% block content %}
    <div class="span12">
          <h3>Terms & Conditions</h3>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent at lacinia odio.
              Nullam quis euismod leo.
              Nullam blandit dictum sem nec consectetur.
              Praesent id diam elementum, dictum lectus eget, tempor nisi.
              Mauris viverra lectus pulvinar libero commodo molestie.
              Etiam elit nisi, consectetur a faucibus quis, blandit id tellus.
              Maecenas fringilla et nisi vel viverra.
              Suspendisse potenti.
          </p>
          </br>

          <p>
              Curabitur eget leo sapien.
              Cras imperdiet, leo sed venenatis fringilla, lectus ante volutpat lectus, a feugiat purus est ac nulla.
              Interdum et malesuada fames ac ante ipsum primis in faucibus.
              Cras augue sapien, ullamcorper non neque at, vulputate ullamcorper sapien.
              Phasellus congue nisl consectetur urna bibendum ullamcorper.
              Cras arcu sem, posuere et faucibus id, semper eu neque.
              In quis bibendum augue.
              Vivamus facilisis vitae nibh quis lobortis.
              Aliquam a dui a arcu tempor volutpat a vitae massa.
              Duis in fermentum lorem, non rhoncus velit.
              Proin in libero leo. Ut non aliquet libero, eget posuere felis.
              Donec convallis odio dui, vel vestibulum arcu rhoncus eu. In hac habitasse platea dictumst.
              Nullam pellentesque placerat venenatis.
          </p>
          </br>

          <p>
              Duis mattis mi vestibulum nisi feugiat fermentum.
              Interdum et malesuada fames ac ante ipsum primis in faucibus.
              Fusce gravida urna quis volutpat condimentum.
              Integer tincidunt vitae nisi sit amet tristique.
              Maecenas sit amet consequat nunc, ut elementum magna.
              Sed leo leo, euismod eget arcu ut, tempor vulputate eros.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at orci quis dui congue scelerisque.
              Sed rutrum, justo ac elementum ornare, purus elit consequat justo, egestas imperdiet orci leo ac lectus.
          </p>
          </br>

          <p>
              Maecenas ac leo mi.
              Nullam in turpis porttitor, molestie odio in, aliquet orci.
              Cras at arcu mauris.
              Fusce faucibus varius nisl eget lobortis.
              Quisque pulvinar pulvinar orci, congue mattis libero gravida et.
              Donec varius metus eu viverra bibendum.
              Fusce sed accumsan augue.
              Nam enim turpis, posuere id purus sit amet, molestie congue tellus.
              Aliquam sed est fermentum, malesuada mi ac, dapibus est.
          </p>
          </br>

          <p>
              Etiam id odio convallis mauris mollis pretium.
              Vivamus nec lacinia libero, sit amet adipiscing felis.
              Integer sed nunc leo.
              Mauris facilisis condimentum interdum.
              Vivamus velit mi, auctor eget elit sed, accumsan sollicitudin velit.
              Sed elementum fringilla tempor. Suspendisse potenti.
              Etiam convallis porta auctor. Mauris sed massa velit.
              Integer non quam fringilla, aliquam nulla in, feugiat velit.
              In volutpat enim ut quam fringilla blandit.
          </p>
          </br>
      </div>
{% endblock %}